body {
    background-color: lightgray;
    color: black;
}
header {
    background-color:pink;
    color: black;
    text-align: center;
    
}
nav {
    background-color:green;
    text-align: center;
}
nav a {
    color: black;
     margin: 10px;
}
section {
    background-color: rgb(245, 245, 240);
    margin: 30px ;
    padding: 20px;
    
    border-radius: 8px;
}
h2 {
    color:black;
    text-align: center;
}
img {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: blue;
    color: white;
}
form {
    text-align: center;
}

input, textarea {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid gray;
    border-radius: 4px;
}
button {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}